/* src/App.css */
.App {
  text-align: center;
  margin-top: 100px;
}

.search-container {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4285f4;
  box-shadow: 0 1px 6px rgba(66, 133, 244, 0.3);
}

.suggestions {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #dfe1e5;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  list-style-type: none;
}

.suggestions li:hover {
  background-color: #f1f1f1;
}

.suggestions li strong {
  color: #4285f4;
}
